* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: inline-block;
}

.container {
  position: absolute;
}

.addTaskCard {
  background-color: #50bcff;
  padding: 16px;
  margin-bottom: 32px;
}

.addTaskCard input {
  border: none;
  padding: 4px;
}

.taskDone {
  text-decoration: line-through;
}

/* icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
